<%-include('../common/header');-%>
<%-include('../common/sidebar');-%>

 <div class="main-content">
      <section class="section">
        <div class="section-header">
          <h1> Report List</h1>
        </div>
        <div class="section-body">
          <div class="col-12 col-md-6 col-lg-12">
            <div class="table-responsive">
              <table id="myTable" class="table table-bordered table-hover table-md">
                <thead>
                    <tr style="background-color: #ebf2f2;" >
                        <th scope="col">S No.</th>
                        <th scope="col">Reported By</th>
                        <th scope="col">Reported To</th>
                        <th scope="col">Message</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <%reportData.forEach(function(data,i) {%>
                      <tr>
                        <td> <%=1+i%></td>
                        <td><%=data.reportBy ? data.reportBy.firstname : "User does not exist" %></td>
                        <td><%=data.reportTo ? data.reportTo.firstname : "User does not exist" %></td>
                        <td> <%=data.message%></td>
                        <td>
                          <a href="/view_report/<%=data._id%>" class="btn btn-sm bg-info"><i class="fa fa-eye" aria-hidden="true"></i></a>
                         
                          <button onclick="confirmDelete('<%=data._id%>')" class="btn btn-sm bg-danger"> <i class="fa fa-trash"></i> </button>
                        </td>
                      </tr>
                      <%}) %>
                 </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>

<%- include('../common/footer'); -%>

<script>
  $(document).ready(function () {
    $('#myTable').DataTable();
  });
</script>

<script>
  setTimeout(function () {
    $("div.msg").fadeOut();
  }, 2000);
</script>

<script>
  $(document).ready(function () {
    // alert("ready!");
  });

  function confirmDelete(id) {
    console.log(">>>>>>>>done>>>>>>>>>>", id)

    const swalWithBootstrapButtons = Swal.mixin({
      customClass: {
        confirmButton: 'btn btn-danger',
        cancelButton: 'btn btn-success'
      },
      buttonsStyling: true
      
    })

    // console.log("------------------------------result------", id);

    swalWithBootstrapButtons.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes, delete it!',
      cancelButtonText: 'No, cancel!',
      reverseButtons: true
    }).then((isConfirm) => {
      // console.log(isConfirm)
      // return
      if (isConfirm.isConfirmed) {
        // alert('asd')
        $.ajax({
          url: "/delete_report/:id",
          type: 'delete',
          data: {
            id: id
          },
          success: function (result) { }
        });
        swalWithBootstrapButtons.fire(
          'Deleted!',
          'The user has been deleted .',
          'success'
        ).then(() => {
          location.reload();
        })
      } else {
        swalWithBootstrapButtons.fire(
          'Cancelled',
          'The user is safe :)',
          'error'
        )
      }
    })

  }
</script>

